<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Đăng nhập</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/verify.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>
  <div class="login-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 logo-fr">
          <h1 class="logo">
            <img src="images/logo.png" alt="">
          </h1>
        </div>

        <div class="col-md-6 col-md-offset-3 login-fr">
          <h3>Đăng nhập</h3>
          
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <form action="" method="POST">
                <div class="alert alert-danger alert-dismissable fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <i class="fa fa-exclamation-circle"></i>
                  <span> Sai username hoac password</span>
                </div>

                <div class="input-group username-input">
                  <input type="text" class="form-control login-input-style" name="username" placeholder="Tên đăng nhập">
                  <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                </div>

                <div class="input-group">
                  <input type="password" class="form-control password-input login-input-style" name="password" placeholder="Mật khẩu">
                  <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>

                <input type="submit" name="submit" class="btn btn-primary btn-block submit-btn" value="Đăng nhập">
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-12 copy-right">
          <p>
            2017 &copy; Bản quyền thuộc về Mỹ Kim Jewelry<br>
            Design by Delaxy Team
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>