body {
  background-color: #242a31;
  font-family: 'roboto-light';
}
html,
body,
.login-wrapper {
  width: 100%;
  min-height: 100%;
}
.logo-fr h1 {
  text-align: center;
  display: block;
  margin-top: 100px;
  margin-bottom: 60px;
}

.login-fr {
  background-color: #fff;
  border-radius: 3px;
}

.login-fr h3 {
  font-family: 'roboto-light';
  text-align: center;
  margin: 35px 0 35px;
  font-size: 40px;
  color: #000;
}
.login-fr .alert {
  border: none;
  border-radius: 0px;
  font-size: 16px;
}
.login-fr .alert i {
  font-size: 20px;
  padding-right: 10px;
  position: relative;
  top: 2px;
}
.login-fr .alert-danger {
  background-color: #ffe1de;
  color: #fe3724;
}
.login-fr .username-input {
  margin-bottom: 15px;
}
.login-fr .login-input-style {
  height: 44px;
  color: #000;
  font-size: 16px;
  padding: 6px 20px;
}
.login-fr .submit-btn {
  margin: 15px 0 35px;
  background-color: #2b80ff;
  border: none;
  border-radius: 3px;
  height: 44px;
  font-size: 16px;
  font-family: 'roboto-medium';
  text-transform: uppercase;
}
.login-fr .submit-btn:hover {
  background-color: #1572fe;
}
.copy-right {
  text-align: center;
  color: #fff;
  margin-top: 40px;
  font-size: 16px;
  font-family: 'roboto-regular';
  margin-top: 60px;
}

@media only screen and (max-width: 480px) {
  .logo-fr h1 {
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .login-fr {
    margin-bottom: 30px;
  }
}
